* {
    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
}


/*header*/


#header {
    position: absolute;
    right: 0;
    left: 0;
    align-items: center;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

.nav-title {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.navbar {
    font-size: 14px;
    margin: 0 40px;
    color: #FFFFFF;
}

.nav-btn {
    width: 157px;
    height: 53px;
    background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
    border-radius: 28px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}


/*hero*/


#hero {
    background: #161D2F;
    min-height: 100vh;

}

.hero {
    text-align: center;
    color: #FFFFFF;
    padding-top: 100px;
}

.hero-club {
    /*margin-top: 131px;*/
    line-height: 25px;
}

.hero-item {
    /*width: 1110px;*/
    height: 279px;
    font-size: 62px;
    line-height: 150%;
    font-weight: 700;
    text-align: center;
}

.hero-title {
    width: 590px;
    height: 90px;
    margin: 20px 268px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;

}

.hero-btn1 {
    width: 157px;
    height: 53px;
    background: linear-gradient(97.1deg, #3043A9 11.99%, #1F629F 96.6%);
    border-radius: 28px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
}

.hero-btn2 {
    background: transparent;
    width: 157px;
    height: 53px;
    margin-left: 20px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 28px;
}

.hero-img {
    margin: 50px 0;
    border-radius: 10px;
}

.hero-src {
    margin-bottom: 50px;
    border-radius: 20px;
}

.hero-click {
    position: absolute;
    width: 83px;
    height: 83px;
    margin-left: 555px;
    margin-top: -395px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.hero-src {
    margin-bottom: 50px;
    border-radius: 20px;
}

.hero-play {
    margin-top: 15px;
}


/*about*/


.about-item {
    font-size: 14px;
    text-align: center;
    color: #262626;
}

.about-title {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    color: #222222;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 40px;
}

.swiper-slide {
    margin: 0 20px;
    font-size: 18px;
    background: #fff;
    justify-content: center;
    align-items: center;
}


@media (max-width: 760px) {
    .swiper-button-next {
        right: 20px;
        transform: rotate(90deg);
    }

    .swiper-button-prev {
        left: 20px;
        transform: rotate(90deg);
    }
}

.about-img {
    width: 380px;
    height: 295px;
}

/*.flex {*/
/*    position: absolute;*/
/*    color: white;*/
/*    opacity: 0;*/
/*    transition: 0.9s;*/
/*}*/

/*.flex:hover {*/
/*    opacity: 1;*/
/*    transition: 0.9s;*/
/*}*/


/*best*/

#best {
    margin-top: 200px;
}

.best {
    display: flex;
}

.best-btn1{
    position: absolute;
    width: 200px;
    height: 60px;
    background: #161D2F;
    border-radius: 10px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.best-img1 {
    margin-left: 100px;
}

.best-img2 {
    position: absolute;
    margin-left: -566px;
    margin-top: 210px;
}


.best-item {
    margin-left: 60px;
}

.best-title {

}
